.all {
    display: flex;
}

.SingleRoute {
    margin-left: 10px;
    margin-top: 30px;
}

.SingleRoute__work {
    margin-left: 50px;
}

.SingleRoute__work h2 {
    margin-top: 50px;
    font-size: 22px;
    line-height: 28px;
    color: #212121;
    font-weight: 400;

}
.SingleRoute__work h3 {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    color: #141415;
    font-weight: 600;
}
.SingleRoute__work j{
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    color: #141415;
    color: dodgerblue;
    font-weight: 600;
}

.SingleRoute__work h3 span {
    margin-left: 40px;
    font-weight: 600;
}
.SingleRoute__work h3 p{
    
}

.SingleRoute__work hr {

    margin-top: 20px;
}

.SingleRoute__work h4 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #141415;
    font-weight: 600;
}
.SingleRoute__work h4 span{
    color: rgb(28, 218, 28);
    margin-left: 30px;
    
}

.btn {
    width: 120px;
    height: 35px;
    display: flex;
    border: 1px solid #2121212a;
    border-radius: 5px;
}

.btn button {
    border: none;
    background: #fff;
}

.btn button {
    height: 100%;
    font-size: 25px;
    margin-left: 30px;
}

.SingleRoute__work p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #212121;
}

.SingleRoute__work p del {
    margin-left: 18px;
    font-size: 14px;
    line-height: 24px;
    color: #8a8d93;
    text-decoration-line: line-through;
}

.SingleRoute__work__month {
    display: flex;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background: #f5f6fa;
    border-radius: 12px;
    display: flex;
    height: 50px;
    align-items: center;
}

.SingleRoute__work__month button {
    height: 28px;
    border: none;
    font-weight: 600;
    padding: 6px;
    color: #1f1f26;
    border-radius: 8px;
    background-color: #ff0;
}

.SingleRoute__work__month h2 {
    font-size: .875rem;
    font-weight: 500;
    line-height: 18px;
}

.bt {
    margin-top: 20px;
    display: flex;
}

.bt2 {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    border: none;
    color: #fff;
    background: #fe7300;
    padding: 0 18px;
    column-gap: 10px;
}

.bt1 {
    background: #fff;
    font-size: 16px;
    width: 200px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    border: 2px solid #fe7300;
    padding: 0 18px;
    color: #fe7300;
    column-gap: 10px;
    margin-left: 10px;
}
.md_shop{
    font-size: 25px;
}
.imm_m,
.imm {
    width: 70px;
    height: 100px;
    margin-left: 50px;
    box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.175);

}
.imm_m{
    margin-top: 30px;
}

.img img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.img {
    margin-top: 30px;
}

.all__img {
    display: flex;
    margin-left: 28px;
}

.single_page_btn_value {
    width: 100px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 3px;

}

.single_page_btn_value button {
    width: 33px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 23px;

}
.SingleRoute{
    width: 350px;
}
.single__img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.175);
    background-color: #fff;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .3s;
    position: relative;
}

.single__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.product__card:hover img {
    transform: scale(1.06);
}
.SingleRoute__work icon span{
    font-size: 30px;
    margin-left: 20px;
}
.facebook{
    color: #5d00d6;
}
.telegram{
    color: #2400d6;
    margin-left: 10px;
}
.twiter{
    color: #0072d69f;
    margin-left: 10px;
}
.whatsap{
    color: green;
    margin-left: 10px;
}
.heart {
    font-size: 30px;
    left: 34%;
    margin-top: 150px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

























@media screen and (max-width:766px) {
    .imm {
        margin-left: 50px;
    }

    .all {
        display: block;
    }

    .SingleRoute {
        width: 85%;
        position: sticky;
        top: 0;
        left: 0;
    }

    .single__img {
        width: 95%;
    }

    .SingleRoute__work {
        margin-left: 40px;
        width: 90%;
        margin-top: 40px;
        border-radius: 15px;
        height: 400px;
        background-color: #fff;
        box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.175);

    }
    .singel__park{
        margin-left: 40px;
        padding-top: 1px;
    }


    .btn__btn {}

}

@media (min-width:767px) and (max-width:1024px) {
    .imm {
        margin-left: 10px;
    }

    .SingleRoute {
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
    }

    .single__img {
        width: 100%;
    }

    .SingleRoute__work {
        margin-left: 30px;
        width: 48%;
    }

    .btn__btn i {
        margin-right: 0;
    }
}