.empty{
    text-align: center;
    padding: 80px 0;
    line-height: 1.8;

}
.empty button{
    padding: 8px;
    background: var(--bg-py);
    border: none;
    border-radius: 4px;
    color: #fff;
}